.body {
    style="background-color:rgb(245,245,220);"
}

.logo {
    width: 300px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.line{
     background-color: black;
     border: 2px;
     height: 1px;
}

.sections_buttons {
    align-items: center;
    margin-right: 100px;
    margin-left: 130px;
}

.button,
.email_submit_button {
    background-color: none;
    color: black;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button:hover {
    color: rgb(20, 80, 48);
}

.button:active {
    opacity: 0.7;
}

.search_bar {
    border-color: rgb(245,245,220);
    background: none;
    outline: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.search_bar:active {
    border-style: none;
    background: none;
    text-decoration: underline;
}

.first_paragraph,
.paragraph {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin-top: 30px;
    margin-bottom: 4px;
    padding-left: 70px;
    padding-right: 70px;
}

.paragraph {
    margin-top: 4px;
}

.final_paragraph {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 70px;
}

.title,
.article_title {
    font-size: 24px;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: black;
    text-decoration: none;
}

.title {
    font-size: 30px;
    padding-left: 70px;
    margin-top: 50px;
}

.article_info {
    width: 100%;
}

.article_preview,
.article_intro {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.article_image_container {
    width: 35%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: inline-block;
}

.article_summary_container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-left: 20px;
}

.article_summary {
    font-size: 15px;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.article_image {
    width: 100%;
}

.bottom_links {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    width: 100%;
}

.social_media_links {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    width: 40%;
}

.newsletter_link {
    display: inline-block;
    width: 40%;
    margin-left: 200px;
}

.paragraph_bottom {
    width: auto;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.email_bar {
    border-color: none;
    background: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.email_submit_button {
    display: inline-block;
    font-size: 15px;
    background: rgb(20, 80, 48);
    color: white;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.email_bar:active {
    border-style: none;
    background: none;
    text-decoration: underline;
}

.insta_logo {
    display: inline-block;
}
.insta_link {
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    vertical-align: top;
}

.outer_box {
   width: 20px;
   height: 20px;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
   border-radius: 5px;
   display: grid;
   place-items: center;
 }

 .inner_shapes {
   width: 15px;
   height: 15px;
   border: 1px solid #fff;
   border-radius: 3.2px;
   display: grid;
   place-items: center;
   position: relative;
 }

 .inner_shapes::before {
   content: '';
   width: 4.5px;
   height: 4.5px;
   border: 1px solid #fff;
   border-radius: 50%;
   background: transparent;
   position: absolute;
 }

 .inner_shapes::after {
   content: '';
   width: 1px;
   height: 1px;
   border: 0.2px solid #fff;
   border-radius: 50%;
   background: #fff;
   position: absolute;
   top: 0.8px;
   right: 1px;
 }